body {
    padding: 0;
    background-color: #f0f0f0;  /* Light gray */
    font-family: Arial, sans-serif;
  }
.navbar {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  .navbar ul li {
    margin: 0 20px;
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .navbar ul li a:hover {
    color: #ffcc00;
  }
  
  @media (max-width: 768px) {
    .navbar ul {
      flex-direction: column;
      align-items: center;
    }
  
    .navbar ul li {
      margin: 10px 0;
    }
  }
  .movie-detail {
    display: flex;
    padding: 20px;
  }
  
  .movie-detail-poster {
    width: 300px;
    border-radius: 10px;
    margin-right: 20px;
  }
  
  .movie-detail-info {
    max-width: 600px;
  }
  
  .movie-detail-info h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .movie-detail-info p {
    font-size: 18px;
    line-height: 1.6;
  }
  
  .movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  /* Movie Card Styling */
  .movie-card {
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    transition: transform 0.3s ease;
  }
  
  .movie-card img {
    width: 100%;
    border-radius: 10px;
  }
  
  .movie-card h2 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .movie-card:hover {
    transform: translateY(-10px);
  }
  
  .movie-card button {
    margin-top: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 25px;
    background-color: #007bff;
    
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .movie-card button:hover {
    background-color: #0056b3;
  }
  .heading{
    color: white;
  }
  